.cv {
    background-color: $primary;
    box-shadow: 0 15px 25px rgba($black, .35);

    background: 3rem;
    padding: 5rem;
    border-radius: 5px;
    overflow: hidden;


    img {
        display: block;
        width: 20rem;
        height: 20rem;
        background-color: #fff;
        color: $white;

    }
}

.cv__line {
    border-bottom: 10px solid $blue;
}

.cv__title {
    display: block;
    text-align: center;
    font-size: 2.1rem;
    color: #fff;
    margin-bottom: 5rem;
}

.cv__info--title {
    margin-bottom: 2rem;
}

.cv__desc {
    p {
        padding-bottom: 1.2rem;
    }
    margin-bottom: 2rem;

}


.table-wrap {
    text-align: center;
    display: inline-block;
    background-color: #181818;
    padding: 2rem 2rem;
    display: block;
    margin-bottom: 2rem;
}
 
 table {
    border: 1px solid $blue;
    width: 100%;
    margin:0;
    padding:0;
    border-collapse: collapse;
    border-spacing: 0;
  }
 
  table tr {
    border: 1px solid $blue;
    padding: 5px;
    color: $white;
  }
 
  table th, table td {
    padding: 10px;
    text-align: center;
    border-right: 1px solid $blue;
  }
 
  table th {
    color: $white;
    background-color: #181818;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
  }


@media screen and (max-width: 575px) {
  table {
    border: 0;
  }
  table thead {
    display: none;
  }
  table tr {
    margin-bottom: 10px;
    display: block;
    border-bottom: 2px solid $blue;
  }
  table td {
    display: block;
    text-align: center;
    font-size: 13px;
    border-bottom: 1px dotted #ccc;
    border-right: 1px solid transparent;
  }
  table td:last-child {
    border-bottom: 0;
  }
  table td:before {
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: bold;
  }
}