<header class="header">
    <div class="header__left">
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="index.html" class="nav__link">Главная</a>
                </li>
                <li class="nav__item">
                    <a href="post.html" class="nav__link has-subnav">Обо мне</a>

                    <ul class="subnav" >
                        <li >
                            <a class="subnav__link" href="cv.html">CV</a>
                        </li>
                        <li >
                            <a class="subnav__link" href="resume.html">Моё резюме</a>
                        </li>
                        <li >
                            <a class="subnav__link" href="letter.html">Мотивационное письмо</a>
                        </li>
                    </ul>
                </li>
                <li class="nav__item">
                    <a href="text.html" class="nav__link">FAQ</a>
                </li>
                <li class="nav__item">
                    <a href="works.html" class="nav__link">Мои работы</a>
                </li>
            </ul>
        </nav>

        <button class="burger" type="button" id="sidebarToggle">
            <span>Открыть навигацию</span>
        </button>

    </div>
    <div class="header__right">
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item" >
                    <a href="profile.html" class="nav__link">Профиль</a>
                </li>
                <li class="nav__item" >
                    <a href="#" class="nav__link">Выйти</a>
                </li>
            </ul>
        </nav>
        <form class="search" action="search.html" method="GET">
            <input class="search__input" type="text" placeholder="Поиск по блогу">
        </form>
    </div>

</header>
