<div class="modal">
    <div class="modal__content">
        <button class="modal__close" type="button">
            <img src="assets/images/close.svg" alt="Закрыть">
        </button>
        <ul class="social">
            <li class="social__item">
                <a href="https://www.instagram.com/p_u_s_s_y_k_i_n_g_6_9/" class="social__link">
                    <img src="assets/images/share/facebook.svg" alt="">
                </a>
            </li>

            <li class="social__item">
                <a href="https://vk.com/id120654150" class="social__link" >
                    <img src="assets/images/share/vk.svg" alt="">
                </a>
            </li>

            <li class="social__item">
                <a href="https://github.com/arthurBondarenko" class="social__link">
                    <img src="assets/images/share/twitter.svg" alt="">
                </a>
            </li>

            <li class="social__item">
                <a href="https://github.com/arthurBondarenko" class="social__link">
                    <img src="assets/images/share/copy.svg" alt="">
                </a>
            </li>
        </ul>
    </div>
</div>