<aside class="sidebar" id="sidebar">
    <div class="sidebar__header">
        <img src="assets/images/sidebar-header.jpg" alt="">
    </div>
    <div class="sidebar__content">
        <div class="profile">
            <img class="profile__avatar" src="assets/images/me.jpg" alt="">
            <div class="profile__header">
                <div class="profile__name">Артур Бондаренко</div>
                <div class="profile__prof">Блог дилетанта Front-end разработчика</div>
            </div>

          

        <ul class="social">
            <li class="social__item">
                <a href="https://www.instagram.com/p_u_s_s_y_k_i_n_g_6_9/" class="social__link" target="blank">
                    <img src="assets/images/instagram.svg" alt="Артур Бондаренко Instagram">
                </a>
            </li>
            <li class="social__item">
                <a href="https://vk.com/id120654150" class="social__link" target="blank">
                    <img src="assets/images/vk.svg" alt="Артур Бондаренко VK">
                </a>
            </li>
            <li class="social__item">
                <a href="https://github.com/arthurBondarenko" class="social__link" target="blank">
                    <img src="assets/images/github.svg" alt="Артур Бондаренко Github">
                </a>
            </li>
        </ul>
            <div class="profile__text">
                <p>Начинающий, юный Front-end разработчик. Практика верстки сайтов. Созданием сайтов занимаюсь с...сейчас.
                Работал там где лучше не работать. Дилетант широкого профиля</p>
            </div>

            <nav class="nav nav--mobile">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="index.html" class="nav__link">Главная</a>
                    </li>
                    <li class="nav__item">
                        <a href="post.html" class="nav__link has-subnav">Обо мне</a>
    
                        <ul class="subnav" >
                            <li >
                                <a class="subnav__link" href="cv.html">CV</a>
                            </li>
                            <li >
                                <a class="subnav__link" href="resume.html">Моё резюме</a>
                            </li>
                            <li >
                                <a class="subnav__link" href="letter.html">Мотивационное письмо</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav__item">
                        <a href="text.html" class="nav__link">FAQ</a>
                    </li>
                    <li class="nav__item">
                        <a href="works.html" class="nav__link">Мои работы</a>
                    </li>
                    <li class="nav__item">
                        <a href="profile.html" class="nav__link">Профиль</a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">Выйти</a>
                    </li>
                </ul>
            </nav>  
        </div> <!-- /.sidebar__profile -->
    </div> <!-- /.sidebar__content -->
    <div class="sidebar__footer">
        <a class="btn btn--red" href="works.html">Мои работы</a>
        <button data-modal="contact-modal" class="btn btn--blue" type="button">Написать мне</button>
    </div>
</aside>
